<div class="container">

  <mat-form-field appearance="outline">
    <mat-label>Rechercher</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
    <input matInput placeholder="Commencez a écrire..." name="advanced-search-control">
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Rechercher une ville</mat-label>
    <app-advanced-search [value]="{ scope: '', query: 'Paris'}"></app-advanced-search>
  </mat-form-field>
</div>
