.home {
  background: lightgray;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    background: white;
    padding: 48px;
    display: flex;
    flex-direction: column;
    width: 500px;
  }
}
