<form class="container" [formGroup]="form" (submit)="submit()">

  <mat-form-field>
    <mat-label>Rechercher</mat-label>
    <mat-icon matPrefix>search</mat-icon>
    <mat-icon matSuffix>arrow_drop_down</mat-icon>
    <input matInput placeholder="Commencez a écrire..." name="advanced-search-control" formControlName="input">
  </mat-form-field>


  <mat-form-field>
    <mat-label>Rechercher une ville</mat-label>
    <mat-icon matPrefix [ngClass]="{ 'disabled-icon': searchCtrl?.disabled }">search</mat-icon>
    <app-advanced-search formControlName="search" placeholder="Rechercher..." required></app-advanced-search>
    <mat-error>{{ searchErrorMessage }}</mat-error>
  </mat-form-field>

  <app-widget-wrapper>
    <app-widget-date></app-widget-date>
  </app-widget-wrapper>

  <app-widget-wrapper>
    <app-widget-weather></app-widget-weather>
  </app-widget-wrapper>

  <button mat-raised-button>Soumettre</button>
</form>
