<ng-container role="group" [formGroup]="form">
  <mat-select class="select" formControlName="scope">
    <mat-option [value]="''">Tous</mat-option>
    <mat-option [value]="'fr'">France</mat-option>
    <mat-option [value]="'en'">Angleterre</mat-option>
    <mat-option [value]="'us'">États-Unis</mat-option>
  </mat-select>
  <mat-divider [vertical]="true" class="divider"></mat-divider>
  <input matInput class="input"
         (focusout)="_onFocusOut()"
         [placeholder]="placeholder"
         type="text"
         name="advanced-search-input"
         formControlName="query"/>
  <span *ngIf="canDisplay()" class="custom-advanced-search-placeholder" #customPlaceholder></span>
</ng-container>
